<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up page </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../assets/SignUp_page.css">
</head>

<body>
    <!-- div container start -->
    <div class="container">
        <div class="right">
            <div class="switch-container">
                <div id="SignUp" class="switchcontent">
                    <h1 class="title">Sign Up for Free</h1>
                    <form method='POST' action="/users/create" data-netlify="true">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control">
                        </div>
                        <div class="form-group">

                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control">
                        
                        </div>
                        <div class="form-group">
                            <label for="password">password</label>
                            <input type="password" name="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder = "Confirm password" name="confirm_password" required></input>
                        </div>
                        <button type="submit" class="btn btn-dark"> SignUp</button>
                    </form>
                </div>
                <!-- sign up form end -->

            </div>
            <!-- switch content container end -->
        </div>
        <!-- right side div end  -->
    </div>
    <!-- div container end -->
    <script src="SignUpPage.js"></script>
</body>

</html>
